<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<div class="container-fluid">
		<div id="map"></div>
	</div>
	<%= tochan.status_name %>
	<Button id="kaerimasita">帰りました</Button>
	<Button id="kaerimasu">帰ります</Button>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<script src="/js/map.js"></script>


<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3MtiW-6YpEnqzelmBq9W4g2CtEtA28oc&callback=initMap">
    </script>
</html>